@font-face {
  font-family: myFirstFont;
  src: url(assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: mysecondFont;
  src: url(assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: myThirdFont;
  src: url(assets/fonts/Ubuntu-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: mysecondFont;
  background-color: #eef5ff;
 
}

@tailwind base;
@tailwind components;
@tailwind utilities;
